@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

:root {
	--primary-color: #041c32;
	--secondary-color: #04293a;
	--text-color: #ecb365;
}

body {
	font-family: 'Poppins', sans-serif;
}

.app {
	background-color: var(--primary-color);
	height: 100%;
	min-height: 100vh;
	color: #fff;
}
